<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alv_chi.improject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- activities -->
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LogInAndSignUpActivity" />
        <!-- <activity android:name=".activity.BaseActivity"/> -->
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ChatRoomActivity" />

        <!-- service -->
        <service
            android:name=".service.XmppListenerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.UserDetailActivity"/>
    </application>

</manifest>